<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GSB Frais - Connexion</title>
    </head>
    <body>
        <form action="./FicheDeFraisController" method="GET">
            <table>
                <tbody>
                    <tr>
                        <td>Forfait Etape</td>
                        <td> <input type="number" min="0" value="0" name="fraisETP"required> </td>
                    </tr>


                    <tr>
                        <td>Frais Kilométrique</td>
                        <td> <input type="number" min="0" value="0" name="fraisKM"> </td>
                    </tr>


                    <tr>
                        <td>Nuitée Hôtel</td>
                        <td> <input type="number" min="0" value="0" name="fraisNUI"> </td>
                    </tr>
                    

                    <tr>
                        <td>Repas Restaurant</td>
                        <td> <input type="number" min="0" value="0" name="fraisREP"> </td>
                    </tr>
                </tbody>
            </table>    
            <input type="submit" id='submit'  value="Soumettre" >
        </form>

    </body>
</html>