
{% block body %}

    <h1> Veuillez renseigner votre fiche de frais </h1>

    {{ form_start(ficheFraisForm) }}
    {{form_row(ficheFraisForm.mois, {'attr' : {'placeholder' : 'Mois'}} )}}

    {{form_widget(ficheFraisForm)}}

    <button type="submit">Valider</button>

    {{ form_end(ficheFraisForm) }}

{% endblock %}