{% block body %}

    <h1> Veuillez renseigner votre frais hors forfait </h1>

    {{ form_start(fraisHorsForfaitForm) }}

    {{form_widget(fraisHorsForfaitForm)}}

    <button type="submit">Valider</button>

    {{ form_end(fraisHorsForfaitForm) }}

{% endblock %}